@import url('https://fonts.googleapis.com/css2?family=Diplomata&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diplomata&family=Pacifico&display=swap');

#mainHeadofPage h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-family: 'Diplomata', cursive;
     font-size: 3.4em;
}
#mainHeadofPage nav ul{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}
#mainHeadofPage nav ul li a{
    text-decoration: none;
    padding: 12px 15px;
    color: #000;
    font-size: 1.5em;
}
#mainHeadofPage nav ul li a:hover{
    color: grey;
    transition: 0.25s;
}
/* page about info */
section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #a6c9b2;
    height: 50vh;
    margin-bottom: 1em;

}
section h2{
    font-size: 2.1em;
    font-family: 'Diplomata', cursive;
    font-family: 'Pacifico', cursive;
    border-bottom: 2px solid white;
    color: white;
    padding: 1em;
    width: 100%;
    text-align: center; 
}
section p{
    font-size: 1.4em;
    color: white;
    padding: 1em;
    margin-bottom: 1em;
}